.mat-card-title {
  font-size: 22px;
  color: #00d09c;
}

.example-card {
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 20px;
}

.mat-card-header-text {
  margin: 0 0 !important;
}

p span {
  color: #00d09c;
}
